.heading {
    color: #222531;
    font-family: "Inter", Sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.38px;
    text-align: center; /* Aligning the text to the center */
}

.selection .chakra-button {
    width: 100%;
    display: flex;
    justify-content: left;
}